
.spinner {
    width: 100vw;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(80, 80, 80, 0.555) !important;
}

.col-md-4 {
    margin-top: 10px;
}